<div class="container" fxLayout="row" fxLayoutAlign="center none">

  <div fxFlex="100%">
    <img src="assets/images/header.png" alt="A beautiful image" class="responsive" width="600" height="400">
    <div class="container" fxLayout="row" fxLayoutAlign="center none">
    </div>

    <div class="container" fxLayout="row" fxLayoutAlign="center none">
      <div fxFlex="95%">

        <mat-card>
          <mat-card-content>
            <h2>List of published works</h2>

            <mat-form-field appearance="standard" class="full-width">
              <mat-label>Filter</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Search Columns" #input />
            </mat-form-field>
            <button mat-raised-button (click)="startEdit(null)" *ngIf="logged_user == 'job offers'">Add</button>
            <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
              <table mat-table [dataSource]="dataSource" class="example-table">

                <ng-container matColumnDef="title">
                  <th mat-header-cell *matHeaderCellDef> Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                </ng-container>
                <ng-container matColumnDef="description">
                  <th mat-header-cell *matHeaderCellDef> Description </th>
                  <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                </ng-container>
                <ng-container matColumnDef="location">
                  <th mat-header-cell *matHeaderCellDef> Location </th>
                  <td mat-cell *matCellDef="let element"> {{element.location}} </td>
                </ng-container>
                <ng-container matColumnDef="salary">
                  <th mat-header-cell *matHeaderCellDef> Salary </th>
                  <td mat-cell *matCellDef="let element"> {{element.salary}} </td>
                </ng-container>

                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef>Actions</th>
                  <button color="primary">
                    <mat-icon aria-label="Example icon-button with a heart icon">
                      add</mat-icon>
                  </button>
                  <td mat-cell *matCellDef="let item">
                    <button type="button" class="btn checklist" rounded="true" size="sm" (click)="startEdit(item)"
                      *ngIf="logged_user == 'job seekers'">
                      <mat-icon>remove_red_eye</mat-icon>
                    </button>
                    <button type="button" class="btn checklist" rounded="true" size="sm" (click)="startEdit(item)"
                      *ngIf="logged_user == 'job offers'">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button type="button" class="btn checklist" rounded="true" size="sm" (click)="deleteJob(item.id)"
                      *ngIf="logged_user == 'job offers'">
                      <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" (click)="toggleFavorite(item)"
                      *ngIf="logged_user == 'job seekers'">
                      <mat-icon>{{ item.favorite == true ? 'star' : 'star_border' }}</mat-icon>
                    </button>


                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                  cdkVirtualFor="let item of dataSource$ | async; let i = index; trackBy: trackByFn">
                </tr>
              </table>
              <mat-paginator [pageSizeOptions]="[10, 25, 100]" showFirstLastButtons></mat-paginator>
            </cdk-virtual-scroll-viewport>


          </mat-card-content>
        </mat-card>

      </div>
      <mat-icon> </mat-icon>
    </div>
  </div>

</div>